<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load i18n %}
    {% load rest_framework %}
    {% load user_type_tags %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'users/center_style.css' %}"/>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <script type="text/javascript" src="{% static 'users/scripts/floating_navigation.js' %}"></script>

    <title>{% block title %}Sheet storm{% endblock %}</title>

</head>
<body>
<div id="menu">
    {% if user.is_authenticated %}
    {% get_admin_user_type as admin %}
    {% get_manager_user_type as manager %}
    {% url 'home' as home_url %}
    {% url 'custom-user-update' user.id as account_url %}
    {% url 'custom-users-list' as custom_users_list_url %}
    {% url 'custom-projects-list' as custom_projects_list_url %}
    {% url 'custom-report-list' as custom_report_list_url %}
    <div id="avatar"><img src="{% static 'users/images/white/iko-33.png' %}"/></div>
    <div id="user-type">{{ user.user_type }}</div>
    <div class="href-blocks">
        <a href={{ home_url }}>
            {% if request.path == home_url %}
            <div class="img"><img src="{% static 'users/images/white/iko-02.png' %}"></div>
            <div class="text" style="color:white;">{% trans 'Home' %}</div>
            {% else %}
            <div class="img"><img src="{% static 'users/images/grey/ico-02.png' %}"></div>
            <div class="text">{% trans 'Home' %}</div>
            {% endif %}
        </a>
        <div style="clear:both;"></div>
    </div>
    <div class="href-blocks">
        <a href="{{ account_url }}">
            {% if request.path == account_url %}
            <div class="img"><img
                    src="{% static 'users/images/white/iko-01.png' %}"></div>
            <div class="text" style="color:white;">{% trans 'Account' %}</div>
            {% else %}
            <div class="img"><img
                    src="{% static 'users/images/grey/ico-01.png' %}"></div>
            <div class="text">{% trans 'Account' %}</div>
            {% endif %}
        </a>
        <div style="clear:both;"></div>
    </div>
    {% if user.user_type == admin %}
    <div class="href-blocks">
        <a href="{{ custom_users_list_url }}">
            {% if request.path == custom_users_list_url %}
            <div class="img"><img src="{% static 'users/images/white/iko-03.png' %}">
            </div>
            <div class="text" style="color:white;">{% trans 'Employees' %}</div>
            {% else %}
            <div class="img"><img src="{% static 'users/images/grey/ico-03.png' %}">
            </div>
            <div class="text">{% trans 'Employees' %}</div>
            {% endif %}
        </a>
        <div style="clear:both;"></div>
    </div>
    {% endif %}
    {% if user.user_type == manager or user.user_type == admin %}
    <div class="href-blocks">
        <a href={{ custom_projects_list_url }}>
            {% if request.path == custom_projects_list_url %}
            <div class="img"><img src="{% static 'users/images/white/iko-04.png' %}"></div>
            <div class="text" style="color:white;">{% trans 'Projects' %}</div>
            {% else %}
            <div class="img"><img
                    src="{% static 'users/images/grey/ico-04.png' %}"></div>
            <div class="text">{% trans 'Projects' %}</div>
            {% endif %}
        </a>
        <div style="clear:both;"></div>
    </div>
    {% endif %}
    <div class="href-blocks">
        <a href="{{ custom_report_list_url }}">
            {% if request.path == custom_report_list_url %}
            <div class="img"><img
                    src="{% static 'users/images/white/iko-05.png' %}"></div>
            <div class="text" style="color: white;">{% trans 'My reports' %}</div>
            {% else %}
            <div class="img"><img
                    src="{% static 'users/images/grey/ico-05.png' %}"></div>
            <div class="text">{% trans 'My reports' %}</div>
            {% endif %}
        </a>
        <div style="clear:both;"></div>
    </div>
    <div class="href-blocks" id="logout">
        <a href="{% url 'logout' %}">
            <div class="img"><img
                    src="{% static 'users/images/grey/ico-23.png' %}"></div>
            <div class="text">
                {% trans 'Logout' %}
            </div>
        </a>
        <div style="clear:both;"></div>
    </div>
    <div id="logo-menu">
        <span><input type="image" onclick="displayNav()" src="{% static 'users/images/logo.png' %}"/>
        <img id="sheetstorm" src="{% static 'users/images/ico-32.png' %}"/></span>
    </div>
</div>
{% endif %}
<div id="page-content-wrapper">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
