{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
    <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
        integrity="sha384-Nlo8b0yiGl7Dn+BgLn4mxhIIBU6We7aeeiulNCjHdUv/eKHx59s3anfSUjExbDxn"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'users/style.css' %}"
        integrity="{% staticinline "users/style.css" encode="sri" %}"
        crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
    <div class="container main-white-container margin-top-space">
        {% include "modals/modal_base.html" %}
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#active-users" role="tab" data-toggle="tab"><p class="span-blue-color"><strong>{{ UI_text.ACTIVE_USERS_TAB.value }} ({{ active_users_list|length }})</strong></p></a></li>
            <li><a href="#disabled-users" role="tab" data-toggle="tab" {% if disabled_users_list|length == 0 %} class ="disabled-link"{% endif %}><p class="span-blue-color"><strong>{{ UI_text.DISABLED_USERS_TAB.value }} ({{ disabled_users_list|length }})</strong></p></a></li>
        </ul>
            <div class="container narrower-container">
                    <button class="hidden-print btn-lg no-background button-without-border margin-create-button bs-modal" data-form-url="{% url 'custom-user-create'%}" type="button">
                        <span class="glyphicon glyphicon-edit span-blue-color"></span>
                        <span class="span-blue-color"><strong>{{ UI_text.ADD_NEW_USER_BUTTON.value }}</strong></span>
                    </button>

                <hr class="hr-blue-line">
                <div class="blue-dot-hr">
                    <div class="blue-dot"></div>
                    <div class="custom-tip-hr">
                        <div class="custom-tip"></div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="active-users">
                        <div class="table-responsive">
                            {% include "partials/users_list_table_base.html" with users_list=active_users_list user_status="disable" no_records_info=UI_text.NO_ACTIVE_USERS.value %}
                        </div>
                    </div>
                    <div class="tab-pane" id="disabled-users">
                        <div class="table-responsive">
                            {% include "partials/users_list_table_base.html" with users_list=disabled_users_list user_status="activate" no_records_info=UI_text.NO_DISABLED_USERS.value %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="{% static '/js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'users/scripts/modalsFunctionality.js' %}"></script>
{% endblock %}
