{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load data_structure_element_selectors %}

{% block extra_head %}
    <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
        integrity="sha384-Nlo8b0yiGl7Dn+BgLn4mxhIIBU6We7aeeiulNCjHdUv/eKHx59s3anfSUjExbDxn"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'users/style.css' %}"
        integrity="{% staticinline 'users/style.css' encode="sri" %}"
        crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
<div class="container main-white-container margin-top-space scalable-padding-container">
    <div class="container narrower-container">
        <hr class="hr-blue-line">
        <div class="blue-dot-hr">
            <div class="blue-dot"></div>
            <div class="custom-tip-hr">
                <div class="custom-tip"></div>
            </div>
        </div>
        <div class="table-responsive">
            {% if users_days_without_report %}
                <table class="table table-responsive-sm">
                    <thead>
                        <tr class="bottom-separator">
                            <th><div class="th-blue-border"><div class="header-text">No.</div></div></th>
                            <th><div class="th-blue-border"><div class="header-text">Email</div></div></th>
                            <th><div class="th-blue-border"><div class="header-text">Days without Report</div></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users_days_without_report %}
                            {% if forloop.first %}
                                <tr class="tr-separator">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><div class="td-cell-value">{{ forloop.counter }}</div></td>
                                <td><div class="td-cell-value">{{ user }}</div></td>
                                <td><div class="td-cell-value">{{ users_days_without_report|get_key_value:user }}</div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="margin-top-space">
                    {{ UI_text.NO_MORE_NOTIFICATIONS.value }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
