{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load rest_framework %}

    <h1>Employees</h1>
    <ul>

    <div class="container">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Type</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Projects</th>
            <td class=Invisible></td>
            <td class=Invisible></td>
          </tr>
          {% for id, users in users_dict.items %}
            <tr>
              <td rowspan={{ users|length }}>
                {{ id }}
              </td>
              {% for user in users %}
                {% if forloop.counter > 1 %}
                  <tr>
                {% endif %}
                <td>{{ user.email }}</td>
                <td>{{ user.user_type }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>
                  {% for members in user.members.all %}
                    {{ members.name }}
                    {% for managers in members.managers.all %}
                        {% if managers.email == user.email %}
                        [M]
                        {% endif %}
                    {% endfor %}
                    ,
                  {% endfor %}
                </td>
                <td class=Invisible align="center">
                  <form action="{% url 'custom-users-detail' pk=user.id %}" method="GET">
                      <input type="submit" value="Edit account">
                  </form>
                </td>
                <td class=Invisible align="center">
                  <form action="{% url 'custom-users-detail' pk=user.id %}" method="GET">
                      <input type="submit" value="See reports">
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </table>
      </div>
    </div>
    </ul>

    <hr>

    <h2> Create user </h2>
    {% if errors %}
      {% for field, detail in errors.items %}
        <p><strong>{{ detail.0 }}</strong></p>
      {% endfor %}
    {% endif %}
    <div class="modal-dialog" style="margin-bottom:0">
      <form action="{% url 'custom-users-list' %}" method="POST">
          {% csrf_token %}
          {% render_form serializer template_pack='rest_framework/vertical' %}
          <input type="submit" value="Create">
      </form>
    </div>

  </br>
{% endblock %}
