{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

<div class="row hidden-print double-space-margin-top">
    <div class="col-xs-6 hidden-print">
        {% include "employees/partial/month_navigation/month_navigation_bar_with_form.html" %}
    </div>
    {% if  request.resolver_match.url_name == "custom-report-list" %}
        <div class="col-xs-12 col-md-6 hidden-print">
            <button data-form-url="{% url 'create-report' year month %}" class="hidden-print btn-lg no-background button-without-border margin-create-button" type="button" id="opener_create">
                <span class="glyphicon glyphicon-edit span-blue-color"></span>
                <span class="span-blue-color"><strong>{% trans "Add new entry" %}</strong></span>
            </button>
        </div>
    {% endif %}
</div>
