{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'managers/style.css' %}"
        integrity="{% staticinline 'managers/style.css' encode="sri" %}"
        crossorigin="anonymous"
    />
{% endblock %}

{% block content %}
    {% trans 'Active' as active %}
    {% trans 'Suspended' as suspended %}
    {% trans 'Completed' as completed %}
    {% trans 'All' as all %}

    <div class="container main-white-container margin-top-space">
        {% include "managers/partials/modal_base.html" %}
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#active-projects" role="tab" data-toggle="tab"><p class="span-blue-color"><strong>Active</strong></p></a></li>
            <li><a href="#suspended-projects" role="tab" data-toggle="tab"><p class="span-blue-color"><strong>Suspended</strong></p></a></li>
            <li><a href="#completed-projects" role="tab" data-toggle="tab"><p class="span-blue-color"><strong>Completed</strong></p></a></li>
            <li><a href="#all-projects" role="tab" data-toggle="tab"><p class="span-blue-color"><strong>All</strong></p></a></li>
        </ul>
            <div class="container narrower-container">
                {% if user.is_admin %}
                    <button class="bs-modal" data-form-url="{% url 'custom-project-create' %}">
                        <img src="{% static 'managers/images/ico-07.png' %}">
                    </button>
                {% endif %}
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="active-projects">
                    <div class="table-responsive">
                        {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_active header=active id="active" %}
                    </div>
                </div>
                <div class="tab-pane" id="suspended-projects">
                    <div class="table-responsive">
                        {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_suspended header=suspended id="suspended" %}
                    </div>
                </div>
                <div class="tab-pane" id="completed-projects">
                    <div class="table-responsive">
                        {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_completed header=completed id="completed" %}
                    </div>
                </div>
                <div class="tab-pane" id="all-projects">
                    <div class="table-responsive">
                        {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_active header=active id="active" %}
                        {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_suspended header=suspended id="suspended" %}
                        {% include "managers/partials/display_projects.html" with filtered_list=object_list.filter_completed header=completed id="completed" %}
{#                        {% include "managers/partials/display_projects.html" with filtered_list=object_list header=all id="all" %}#}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="{% static '/js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'managers/scripts/modalsFunctionality.js' %}"></script>
{% endblock %}