#dialog {
    display: none;
    text-align: center;
}

.modal-dialog {
    margin-bottom: 0;
}

.date-column{
    width: 128px;
}

.project-column {
    width: 230px;
}

.work-hours-column {
    width: 93px;
    text-align: right;
}

.edit-button-column {
    width: 100px;
    text-align: right;
}
