{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

<form id="project-form" action="" method="post">
{% csrf_token %}
    <div class="modal-header margin-top-space">
        <img class="form-header-icon modal-title" alt="user icon" src="{% static 'managers/images/ico-11.png' %}"/>
        <span class="form-title roboto-text modal-title"> {% if is_create_project_form %}Create Project{% else %}Update Project{% endif %}</span>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="project-form">
            <div class="row form-row">
                <div class="col-xs-12 project-name-div">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6 mb-0 form-group">
                    {{ form.start_date|as_crispy_field }}
                </div>
                <div class="col-lg-6 mb-0 form-group">
                    {{ form.stop_date|as_crispy_field }}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-6 mb-0 form-group">
                    {{ form.suspended|as_crispy_field }}
                </div>
                <div class="col-md-6 mb-0 form-group">
                    {{ form.is_notification_enabled|as_crispy_field }}
                </div>
            </div>
            <div class="row form-row">
                {% if user.is_admin %}
                    <div class="col-lg-6 form-group">
                        {{ form.managers|as_crispy_field }}
                    </div>
                {% endif %}
                <div class="{% if user.is_admin %}col-lg-6{% else %}col-12{% endif %} form-group">
                    {{ form.members|as_crispy_field }}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-12 activities-div">
                    {{ form.activities|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group project-buttons">
                <button type="submit" class="btn btn-success">{{ button_text }}</button>
                {% if user.is_admin and object %}
                    <button type="button" id="opener" class="btn btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> {% trans 'Delete' %}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% block extra_script %}
{{ form.media.js }}
{% if request.user.is_admin and object %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5"
        crossorigin="anonymous"
    ></script>
    <script
        type="text/javascript"
        src="{% static 'managers/scripts/delete_project_popup.js' %}"
        integrity="{% staticinline 'managers/scripts/delete_project_popup.js' encode="sri" %}"
        crossorigin="anonymous"
    ></script>
{% endif %}
{% endblock %}