{% load i18n %}
{% load static %}

<div class="filtered-projects">
    <a class="toggled-projects" data-toggle="collapse" href="#multiCollapse-{{ id }}" role="button" aria-expanded="true" aria-controls="multiCollapse-{{ id }}">
        <div class="span-blue-color">{{ header }}</div>
    </a>
</div>

<div class="row main-row">
    <div class="collapse multi-collapse collapse in" id="multiCollapse-{{ id }}">
        <div class="card card-body">
            {% for project in filtered_list %}
                <div class="col-sm-6 col-md-4 col-xl-4 box-wrapper">
                    <div class="row project-box">
                        <a href="{% url 'custom-project-detail' pk=project.id %}">
                            <div class="row project">
                                <div class="project-reports" >
                                    <img src="{% static 'users/images/grey/ico-05.png' %}">
                                </div>
                                <div class="project-header">
                                    <h5><b>{{ project.name }}</b></h5>
                                    <div style="float: left">
                                        <div class="glyphicon glyphicon-expand"></div>
                                        <span style="color: gray">{{ project.start_date }}</span>
                                    </div>
                                </div>
                            </div>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row action-buttons-section">
                                <div class="action-box">
                                    <a>
                                    <button class="action-button bs-modal" data-form-url="{% url 'custom-project-update' pk=project.id %}">
                                        <img alt="" class="edit-project-icon" src="{% static 'managers/images/ico-07.png' %}">
                                    </button>
                                    </a>
                                    {% if header != "Completed" %}
                                        {% if header != "Suspended" %}
                                            <button class="bs-modal glyphicon glyphicon-pause action-button suspend" onclick="this.form.submit()">
                                                <input type="hidden" name="suspend" value="{{ project.id }}">
                                            </button>
                                            <input type="hidden" name="suspend" value="{{ project.id }}">
                                        {% else %}
                                            <button class="bs-modal glyphicon glyphicon-play action-button activate" onclick="this.form.submit()">
                                                <input type="hidden" name="activate" value="{{ project.id }}">
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    <button class="bs-modal glyphicon glyphicon-remove-sign action-button delete" onclick="">
                                        <input type="hidden" name="activate" value="{{ project.id }}">
                                    </button>
                                </div>
                            </div>
                        </form>
                            <div class="row managers-section">
                                <div class="managers">
                                    {% for user in project.managers.all|slice:":2" %}
                                        <p class="project-managers">
                                            <i class="fas fa-user-tie"></i> {{ user.first_name }} {{ user.last_name }}
                                        </p>
                                    {% endfor %}
                                </div>
                                {% if project.managers.all|length > 2 %}
                                <div class="hidden-managers-dropdown">
                                    {% for user in project.managers.all|slice:"2:" %}
                                        <p class="project-managers">
                                            <i class="fas fa-user-tie"></i> {{ user.first_name }} {{ user.last_name }}
                                        </p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class=" row employees">
                                <p class="col-sm">
                                    <i class="fas fa-user"></i> {{ project.members.count }}
                                </p>
                            </div>
                        </a>
                    </div>
{#                    <div class="row images">#}
{#                        <a href="{% url 'project-report-list' pk=project.pk year=year_for_urls month=month_for_urls %}" title="{% trans 'Check project reports' %}">#}
{#                            <i class="fas fa-clipboard-list fa-lg"></i>#}
{#                        </a>#}
{#                        <a href="{% url 'project-task-activities' pk=project.pk %}" title="{% trans 'Check project task activities' %}">#}
{#                            <i class="fas fa-cog fa-lg"></i>#}
{#                        </a>#}
{#                    </div>#}
                </div>
             {% empty %}
                <h3>{% trans 'There are no available projects' %}</h3>
            {% endfor %}
        </div>
    </div>
</div>
