{% load data_structure_element_selectors %}
{% load data_display_filters %}

<div class="monthly-stats">
    <div class="table-title">
        <div class="title-field">
            <h4>
                <b>{{ UI_text.WORK_HOURS_SUMMARY_HEADER.value }}</b>
            </h4>
        </div>
        <div class="hidden-print-line">
            <hr class="hr-blue-line">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="th-blue-border-first-cell" colspan="2">{{ UI_text.NAME_COLUMN_HEADER.value }}</th>
                <th class="th-blue-border">{{ UI_text.WORK_HOURS_COLUMN_HEADER.value }}</th>
            </tr>
        </thead>
        <tbody>
            {% for author in reports_by_author %}
                <tr{% if forloop.first %} class="tr-next-day-separator"{% endif %}>
                    <td colspan="2"><strong>{{ author.grouper.get_full_name }}</strong></td>
                    <td>{{ monthly_hours_sum|get_key_value:author.grouper.pk|duration_field_to_string }}</td>
                </tr>
            {% endfor %}
            <tr class="tr-next-day-separator">
                <td colspan="2"><strong>{{ UI_text.HOURS_PER_MONTH_LABEL.value }}</strong></td>
                <td><strong>{{ project_work_hours_sum|duration_field_to_string }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>
