{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load rest_framework %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'employees/style.css' %}">

<h1>{{ project_name }}{{ UI_text.PAGE_TITLE.value }}</h1>
<div class="container">
    <div class="table-responsive">
        {% for username, dictionary in reports_dict.items %}
        <table class="table">
            <tr><th>{{ username }}</th></tr>
            <tr>
                <th class="project-reports-date-header">{{ UI_text.DATE_COLUMN_HEADER.value }}</th>
                <th class="visible-print-block project-reports-project-header">{{ UI_text.PROJECT_COLUMN_HEADER.value }}</th>
                <th class="project-reports-work-hours-header">{{ UI_text.WORK_HOURS_COLUMN_HEADER.value }}</th>
                <th class="project-reports-description-header">{{ UI_text.DESCRIPTION_COLUMN_HEADER.value }}</th>
                <th class="project-reports-creation-date-header hidden-print">{{ UI_text.CREATION_DATE_COLUMN_HEADER.value }}</th>
                <th class="project-reports-last-update-header hidden-print ">{{ UI_text.LAST_UPDATE_COLUMN_HEADER.value }}</th>
                <th class="project-reports-editable-header hidden-print">{{ UI_text.EDITED_COLUMN_HEADER.value }}</th>
                <td class="project-reports-edit-button-header hidden-print Invisible"></td>
            </tr>
            {% for date, reports in dictionary.items %}
            <tr>
                <td class="project-reports-date-column" rowspan={{ reports|length }}>
                    {{ date }}
                </td>
                {% for report in reports %}
                    {% if forloop.counter > 1 %}
                    <tr>
                    {% endif %}
                <td class="visible-print-block project-reports-project-column">{{ report.project }}</td>
                <td class="project-reports-work-hours-column">{{ report.work_hours_str }}</td>
                <td class="project-reports-description-column">{{ report.description }}</td>
                <td class="project-reports-creation-date-column hidden-print">{{ report.creation_date }}</td>
                <td class="project-reports-last-update-column hidden-print">{{ report.last_update }}</td>
                <td class="project-reports-editable-column hidden-print">{{ report.editable|yesno:"False,True" }}</td>
                <td class="project-reports-edit-button-column hidden-print Invisible">
                    <a class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
                {% endfor %}
            {% endfor %}
        </table>
        </br>
        {% endfor %}
        {% if not reports_dict.items %}
            <strong>{{ UI_text.NO_REPORTS_MESSAGE.value }}</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
