:root {
    --cp-blue-color: rgb(44, 119, 188);
}

.task-activities-column {
    text-align: center;
}

.multiselect-task-activities {
    margin-left: 15px;
}

.main-white-container {
    background-color: white;
    -webkit-box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    width: 90%;
    min-width: 400px;
}

#modal-dialog-project-list {
    width: 80%;
}

.row.project-box {
    -webkit-box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    background: #FFFFFF;
    margin: auto;
    max-width: 230px;
    min-height: 210px;
    display: block;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.row.project-box > .row {
    text-align: left;
    /*margin-left: 4%;*/
}

.row.project-box > .row.project {
    margin-left: -4px;

}
.row.project {
    border-left: #056DBA solid 4px;
    margin: 10px 0 7px 0;
    width: 100%;
    min-height: 80px;
}
.project-header {
    float: left;
    text-align: left;
    margin-left: 5%;
    max-width: 150px;
}

.project-header > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.project-reports {
    float:right;
    margin-top: 2%;
    margin-right: 4%;
}

.project-managers {
    overflow: hidden;
    white-space: nowrap;
    /*float: left*/
}

.filtered-projects {
    text-align: left;
    width: 100%;
}

.toggled-projects {
    color: #3366FF;
    font-size: 160%;
    font-weight: 700;
    display: inline-block;
    width: 120px;
}

.toggled-projects:after, .toggled-projects:hover, .toggled-projects:active, .toggled-projects:visited, .toggled-projects:focus  {
    text-decoration: none;
}

.row.images {
    text-align: left;
    margin-top: -5px;
    margin-left: 14px;
}

.row.images > a > i {
    color: #2C77BC;
}

.box-wrapper {
    margin-bottom: 30px;
    margin-top: 30px;
    min-width: 250px;
    max-width: 80%;
}

.hr-blue-line {
    border: 1px solid var(--cp-blue-color);
    width: 100%;
    margin-right: -8px;
}

#modal-dialog-create-project-form {
    background: white;
    padding: 2.5% 2.5% 1%;
    -webkit-box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    min-width: 200px;
    max-width: 600px;
    width: 95%;
    margin: auto;
}

#create-project-form > .form-group > .form-group > input {
    width: 10em;
}

.form-group > label {
    font-weight: 400; !important;
    font-size: 130%;
}

.row.panel-title {
    margin-bottom: 6%;
}

.select2.select2-container.select2-container--default {
    display: unset;
    width: 50%;
}

span.selection {
    min-width: 100px;
    width: 70%;
}
.project-name-div, .activities-div {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.project-buttons > button {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 15rem;
}

.delete-project-confimation {
    display: none;
}

#div_id_name > div > input {
    text-align: center;
    width: 70%;
    margin: auto;
}

.input-group.date {
    width: 70%;
    max-width: max-content;
    margin: auto;
}

.one-manager{
    margin-top: 30px;
}

/*START FEATURE STYLES remove comment after work*/
.span-blue-color {
    color: var(--cp-blue-color);
}

.narrower-container {
    width: 100%;
}

.double-space-margin-top {
    margin-top: 2em;
}

.table-responsive {
    overflow-x: hidden;
    overflow-y: hidden;
}

.table-responsive > .table > tbody > tr > td {
    white-space: normal;
    padding-left: 13px;
!important;
    overflow: hidden;
    border-color: rgb(180, 180, 180);
}

.blue-dot-hr{
    float: left;
    position: relative;
    top: -25px;
    margin-left: -1px;
}

.custom-tip-hr {
    float: left;
    position: relative;
    top: -24px;
    margin-left: -10px;
}

.managers-section{
    width: 100%;
    margin: 10px 0 7px 0;
    position: relative;
    display: inline-block;
}

.managers{
    text-align: left;
    margin-left: 15px;
    min-height: 70px;
}

.employees{
    text-align: left;
    margin: 0 0 10px 15px;
}

.managers-section:hover .hidden-managers-dropdown {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
}

.hidden-managers-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
    margin-top: -10px;
    z-index: 1;
}

.action-buttons-section{
    width: 100%;
    margin: 10px 0 7px 0;
    max-height: 20px;
    position: relative;
    display: inline-block;
}
.action-box{
    margin: 0 0 5px 8px;
    display: inline-block;
    float: left;
    text-align: left;
    max-width: 100%;
}

.action-button{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}

.edit-project-icon{
    margin-top: -2px;
    width: 20px;
    height:20px
}

.action-button.suspend {
    color: orange;
}
.action-button.delete {
    color: red;
}

.action-button.activate {
    color: darkblue;
}
.custom-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding: 0 !important;
    z-index: 1000;
	}

.modal-dialog{
    margin: 0;
}

/*END FEATURE STYLES*/

@media only screen and (max-width: 400px) {
    .bootstrap-datetimepicker-widget {
        left: -90px !important;
    }
}
